# Telegram
BOT_TOKEN=seu_token_aqui
CHAT_ID=seu_chat_id_aqui

# Email
SMTP_USER=voce@gmail.com
SMTP_PASSWORD=sua_senha_de_app
EMAIL_TO=destinatario@gmail.com

# postgres
DB_HOST=seu-host.rds.amazonaws.com
DB_NAME=concursos
DB_USER=admin
DB_PASSWORD=sua_senha
DB_PORT=5432

# api key
GEMINI_API_KEY=sua_api_key
