# Notificação (telegram ou email)
NOTIFIER_TYPE=telegram

# Telegram
BOT_TOKEN=seu_token_aqui
CHAT_ID=seu_chat_id_aqui

# Descomente para usar Email
# NOTIFIER_TYPE=email
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=seu_email@gmail.com
# SMTP_PASSWORD=sua_senha_de_app
# EMAIL_TO=destino@email.com

# Banco de dados (sqlite ou postgres)
DB_TYPE=sqlite
DB_PATH=output/notificados.db

# Descomente para usar PostgreSQL
# DB_TYPE=postgres
# DB_HOST=seu-host.rds.amazonaws.com
# DB_NAME=concursos
# DB_USER=admin
# DB_PASSWORD=sua_senha
# DB_PORT=5432

# ia que será usada para analisar o edital
ANALYZER_TYPE=gemini
GEMINI_API_KEY=sua_api_key
